<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <section class="content">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <title>Tnzy.io - A URL shortner made in Python</title>
    </head>
    <div class="container">
    <h1 class="center">Tnzy.io</h1>
      <h3 class="center">A URL shortner made in Python</h3>
    {% block content %}{% endblock %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}

      {% endwith %}

      {% block table %}
      {% endblock %}
  </div>
  </section>

</html>
